{% extends "base.html" %}
{% load static %}

{% block title %}Книги за выбранную дату{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <a href="{% url 'by_date' book.pub_date %}">
                    <h2>{{ book.name }}</h2>
                </a>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date|date:"Y-m-d"  }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
<!-- Пагинация -->
<br><br><br><br>
<p>
    {% if prev_day_books %}
        <a href="{% url 'by_date' prev_day_books %}">&lt {{ prev_day_books|date:"Y-m-d" }}</a>
    {% endif %}

    {% if next_day_books %}
        <a href="{% url 'by_date' next_day_books %}">{{ next_day_books|date:"Y-m-d" }} &gt</a>
    {% endif %}
</p>
{% endblock %}